{% extends 'base.html' %}

{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="form">
            <div class="custom-center-block">
                <h3 class="custom-text-block">{{ message | linebreaksbr }}</h3>
                <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
                </a>
            </div>
        </form>
    </div>

{% endblock %}